@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;900&display=swap");

html,
body {
    padding: 0;
    margin: 0;
    font-family: "Montserrat", sans-serif;
}

html{
    scroll-behavior: smooth;
    scroll-padding-top: var(--scrollpadding, 5rem);
}

a{
    text-decoration: none;
}

.pro-container .big-list .pro{
    font-size: 18px;
}

.text-center {
    text-align: center;
    justify-content: center;
}

.main-section>.make-italic :hover{
    font-style: italic;
}

body {
    display: flex;
    flex-direction: column;
}

.head-container> {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
}

.main-section {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: hidden;
}
pre {
    white-space: pre-wrap;
}

.logo{
    display: flex;
    text-align: center;
    justify-content: left;
}

.menu-bar{
    height: 80px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
    position: fixed;
    background: radial-gradient(circle at 1.3% 2.8%, rgb(239, 249, 249) 0%, rgb(182, 199, 226) 100.2%);
    opacity: 80%;
    z-index: 1;
}

.logo{
    color: var(--color-white);
    font-size: 30px;
}

.logo span{
    color: blue
}

.menu-bar ul{
    list-style: none;
    display: flex;
}

.menu-bar ul li{
    padding: 10px 30px;
    position: relative;

}

.menu-bar ul li a{
    color: var(--color-white);
    text-decoration: none;
    font-size: 20px;
    transition: all 0.3s;
}

.menu-bar ul li a:hover{
    color: blue;
}

.dropdown-menu{
    display: none;
}

.menu-bar ul li:hover .dropdown-menu {
    display: block;
    position: absolute;
    left: 0;
    top: 100%;
    background-color: rgb(239, 237, 247);
}

.menu-bar ul li:hover .dropdown-menu ul{
    display: block;
    margin: 10px;
}
.menu-bar ul li:hover .dropdown-menu ul li{
    width: 150px;
    padding: 10px;
}

.fas{
    float: right;
    margin-left: 10px;
    padding-top: 3px;
}

.main-section:nth-child(even) {
    background: linear-gradient(90deg, #e3ffe7 0%, #d9e7ff 100%);
}

.main-section:nth-child(odd) {
    background: linear-gradient(90deg, #4b6cb7 0%, #182848 100%);
    color: white;
}

.section-center {
    justify-content: center;
    max-width: 100%;
    width: 100%;
    margin: 0 auto;
}

.primary-nav{
    background-color: black;
    display: inline-block;
    
}

h1 {
    font-size: 2rem;
}

h2 {
    font-weight: 400;
}
p, pre {
    max-width: 70%;
    width: 100%;
    display: block;
}

button{
    text-decoration: none;
    padding: 0;
    border: none;
    background: none;
}

.card>h3{
    text-align: center;
    justify-content: center;
}

.section-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 20px;
    padding: 20px;
    justify-content: center;
}

.card {
    display: flex;
    flex-direction: column;
    padding: 0.5rem;
    border-radius: 0.5rem;
    background-color: white;
    color: #363636;
}

code{
    font-size: 16px;
}

.card img {
    width: 100%;
    height: 200px; /* Adjust height as needed */
    object-fit: cover;
    border-radius: 8px;
}

.big-list {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 70%;
    margin: 0 auto;
    list-style: none;
    font-size: small;
}

.big-list li {
    padding: 1rem 0;
    font-size: 1.5rem;
    border-bottom: 1px solid black;
}

.animate-fade-up {
    animation-name: fadeup;
    animation-duration: 500ms;
    animation-timing-function: ease-out;
    animation-play-state: paused;
    animation-fill-mode: backwards;
    animation-delay: 300ms;
}

@keyframes fadeup {
    0% {
        transform: translateY(2rem);
        opacity: 0;
    }
    100% {
        transform: translateY(0rem);
        opacity: 1;
    }
}

.animate-character {
    overflow: hidden;
    white-space: nowrap;
    margin: 0;
    border-right: .15em solid transparent;
    letter-spacing: .15em;
    font-size: 3rem;
    color: white;
    animation: typing 3.5s steps(40, end) forwards;
}

@keyframes typing {
    from {
        width: 0;
    }
    to {
        width: 100%;
    }
}

.animate-character::after {
    content: '';
    display: inline-block;
    width: 8px;
    height: 1.2em;
    background-color: white;
    animation: blink-caret .75s step-end infinite;
}

@keyframes blink-caret {
    from, to {
        opacity: 0;
    }
    50% {
        opacity: 1;
    }
}

.footer-container {
    background-color: #f0f0f0; /* Change color as needed */
    padding: 20px;
    text-align: center;
}

footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

footer ul {
    display: flex;
    gap: 10px;
    list-style: none;
    padding: 0;
    margin: 0;
}

@media only screen and (min-width: 768px) {
    .head-container {
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }

    .quick-access {
        margin-top: 0;
    }
}